<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav th:fragment = "navbar"></nav>

<footer  th:fragment  = "footer" class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            @2021  A sample test application for exploring the Thymeleaf Engine
        </div>
    </div>
</footer>
</body>
</html>